:root {
    --color-primary: #c27ba0;
    --color-primary-dark: #4c1130;
    --color-primary-light: #d7a8c0;
}

@tailwind base;

@tailwind components;

.btn {
    @apply inline-block font-bold tracking-wider leading-none rounded-full px-5 py-4 my-4;
}

.btn-fill {
    @apply text-white;
    background-color: var(--color-primary);
}

.btn-fill:hover {
    background-color: var(--color-primary-light);
}

.btn-outline {
    @apply border;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-outline:hover {
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.card {
    @apply w-full border border-gray-300 text-center m-4;
    max-width: 300px;
    min-height: 300px;
    transition: transform .5s, box-shadow .5s;
}

.card:hover {
    @apply shadow-xl;
    transform: scale3d(1.006, 1.006, 1);
}

.card img {
    @apply mx-auto mt-2;
    width: 80% !important;
}

.card div {
    @apply mt-4 text-lg text-gray-600;
}

.card-container {
    @apply flex flex-wrap w-full items-center justify-center py-6 mx-auto;
}

.contact-form {
    @apply bg-white shadow-md rounded mx-6 px-10 pt-12 pb-8 my-4;
    max-width: 360px;
}

.contact-form input,
.contact-form select {
    @apply bg-white border leading-tight mb-6 py-4 px-3 rounded shadow text-gray-700 w-full;
}

.contact-form input:focus
.contact-form select:focus {
    @apply outline-none shadow-outline;
}

.contact-form label {
    @apply text-sm text-gray-600 mb-2
}

.contact-form button {
    @apply w-full rounded;
}

.footer {
    @apply flex flex-wrap content-center mx-auto ;
    min-height: 120px;
}

.header {
    @apply flex flex-wrap justify-center items-center;
}

.header img {
    height: 60px;
}

.header-fixed {
    @apply bg-white fixed shadow w-full py-2;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.header-fixed img {
    height: 45px;
}

.header-fixed .btn {
    @apply mx-2 my-0 px-2 py-3;
    font-size: .6em;
    position: fixed;
    right: 0;
}

.section {
    @apply flex flex-wrap justify-between items-center mx-auto px-6 py-16;
    min-height: 420px;
}

.section .content {
    @apply text-center w-full;
}

.section .content img {
    @apply mx-auto;
}

.section-blurb {
    @apply font-light pb-4 text-gray-600 text-lg;
}

.section-classes {
    @apply block text-center;
}

.section-contact {
    background-color: var(--color-primary);
}

.section-tagline {
    @apply font-light leading-tight pb-4 text-3xl;
    color: var(--color-primary-dark);
}

.section-top {
    min-height: 720px;
}

.section-top .section-tagline {
    @apply text-4xl;
}

.section-top .btn {
    @apply mx-auto;
}

@tailwind utilities;

body {
    font-family: 'Overpass', sans-serif;
}
