:root {
    --color-primary: #c27ba0;
    --color-primary-dark: #4c1130;
    --color-primary-light: #d7a8c0;
}

@tailwind base;

@tailwind components;

.btn {
    @apply inline-block font-bold tracking-wider leading-none rounded-full px-5 py-4 my-4;
}

.btn-fill {
    @apply text-white;
    background-color: var(--color-primary);
}

.btn-fill:hover {
    background-color: var(--color-primary-light);
}

.btn-outline {
    @apply border;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-outline:hover {
    color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.footer {
    @apply flex flex-wrap content-center mx-auto ;
    min-height: 120px;
}

.header {
    @apply flex flex-wrap justify-center items-center;
}

.header img {
    height: 60px;
}

.header-fixed {
    @apply bg-white fixed shadow w-full py-2;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.header-fixed img {
    height: 45px;
}

.header-fixed .btn {
    @apply mx-2 my-0 px-2 py-3;
    font-size: .6em;
    position: fixed;
    right: 0;
}

.section {
    @apply flex flex-wrap justify-between items-center mx-auto px-6 py-16;
    min-height: 420px;
}

.section-blurb {
    @apply font-light pb-4 text-gray-600 text-lg;
}

.section-tagline {
    @apply font-light leading-tight pb-4 text-3xl;
    color: var(--color-primary-dark);
}

.section-top {
    min-height: 720px;
}

.section-top .content {
    @apply text-center w-full;
}

.section-top .content img {
    @apply mx-auto;
}

.section-top .section-tagline {
    @apply text-4xl;
}

.section-top .btn {
    @apply mx-auto;
}

@tailwind utilities;

body {
    font-family: 'Overpass', sans-serif;
}
