:root {
    --color-primary: #c27ba0;
    --color-primary-dark: #4c1130;
    --color-primary-light: #d7a8c0;
}

@tailwind base;

@tailwind components;

.header {
    @apply flex flex-wrap justify-center items-center;
}

.header img {
    height: 60px;
}

@tailwind utilities;

body {
    font-family: 'Overpass', sans-serif;
}
