<div class="card">
    <a href="https://www.clubpilates.com/location/westloop/class-schedule" target="_blank" rel="noopener noreferrer">
        <img src="../assets/images/logo-cp.svg" alt="Club Pilates logo">
        <div>West Loop</div>
    </a>
</div>
<div class="card">
    <a href="https://www.clubpilates.com/location/rivernorth/class-schedule/" target="_blank" rel="noopener noreferrer">
        <img src="../assets/images/logo-cp.svg" alt="Club Pilates logo">
        <div>River North</div>
    </a>
</div>
<div class="card">
    <a href="https://athletics.uchicago.edu/recreation/fitchicago" target="_blank" rel="noopener noreferrer">
        <img src="../assets/images/logo-uchicago.svg" alt="The University of Chicago logo">
        <div>Hyde Park</div>
    </a>
</div>