<form class="contact-form" onsubmit="alert('clicked')">
    <label for="fullname">Full name</label>
    <input id="fullname" type="text" placeholder="Your name">

    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Your email">

    <label for="interest">I'm interested in*</label>
    <select class="appearance-none" id="interest">
        <option></option>
        <option>General</option>
        <option>Group classes</option>
        <option>Private sessions</option>
    </select>
    
    <button class="btn btn-fill" type="submit">Send</button>
</form>